<div class="container login-container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-9 col-md-4">
      <h2>Login</h2>
      <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onSubmit()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
          [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <span class="text-danger" *ngIf="errorThrown">Email and/or Password does not exist</span>
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
          [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button id="submitButtonForLogin" type="submit" class="btn btn-primary" (submit)="onSubmit()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
