<div class="row">
    <div class="col-md-4">
      <br>
      <br>
      <h2>Register</h2>
        <form>
            <div class="form-group">
                <label for="nameinputregister">Username</label>
                <input #userName="ngModel" id="userName" name="userName" type="name" class="form-control" id="userName" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
                [ngClass]="{'is-invalid': (userName.invalid && userName.touched), 'is-valid': (userName.valid && userName.touched)}" required type="text" required>
                <div *ngIf="userName.invalid && userName.touched" class="invalid-feedback"></div>
                <span ng-show="userName.error.required">Please enter a username</span>
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input #emailRegister="ngModel" id="emailRegister" name="emailRegister" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="emailRegister" aria-describedby="emailHelp"
              [ngClass]="{'is-invalid': (emailRegister.invalid && emailRegister.touched), 'is-valid': (emailRegister.valid && emailRegister.touched)}" required type="text" required>
              <div *ngIf="emailRegister.invalid && emailRegister.touched" class="invalid-feedback"></div>
              <div [hidden]="!emailRegister.errors?.pattern">
                Invalid email, example correct email: test@test.com
              </div> 
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input #passwordInput="ngModel" id="passwordInput" name="passwordInput"  [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" minlength="5" type="password" class="form-control" id="passwordInput"
              [ngClass]="{'is-invalid': (passwordInput.invalid && passwordInput.touched), 'is-valid': (passwordInput.valid && passwordInput.touched)}" required type="text" required >
              <div *ngIf="passwordInput.invalid && passwordInput.touched" class="invalid-feedback"></div>
              <div *ngIf="passwordInput.errors?.minlength">password should be at least 5 characters</div>
              <span ng-show="passwordInput.error.required">Please enter a password</span>
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            
            <div *ngIf="!userName.invalid && !emailRegister.invalid && !passwordInput.invalid">
              <button type="submit" class="btn btn-primary"  (click)="register()">
                Submit
              </button>
            </div>
            <div *ngIf="userName.invalid && emailRegister.invalid && passwordInput.invalid">
              <button type="submit" class="btn btn-primary" disabled>
                Submit
              </button>
            </div>
            
        </form>
    </div>
</div>



