<h1>Match list</h1>
<button id="createMatch" class="btn btn-primary" [routerLink]="'create'">Create a match</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">location</th>
      <th scope="col">country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches$ | async ">
      <th scope="row"></th>
      <td>
        <a routerLink="{{ match._id }}">{{ match.name }}</a>
      </td>
      <td>{{ match.location }}</td>
      <td>{{ match.country }}</td>
      
    </tr>
  </tbody>
 
</table>
