<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Brazilian Jiu jitsu </h3>
    <p>Dit is een project die gebruikt kan worden voor Brazilian jiu jitsu competities.
      Brazilian jiu jitsu is een Martial arts vorm waarbij je de tegenstander naar de grond wilt krijgen en hem/haar wilt laten aftikken door middel van
       een klem of een wurggreep. Hierbij worden overal ter wereld wedstrijden opgezet om te kijken wie de beste is.
      Er zijn verschillende gyms rond de wereld waar competities gehouden worden. 
    </p>
      <p>
      Dit gaat over de match entiteit:<br>
      Het doel van deze applicatie is dat iedereen een wedstrijd kan opzetten met hun favoriete vechters. het systeem controleert of er vechters zijn.
      een gebruiker kan niet de wedstrijden van iemand anders aanpassen. De gebruikers die deze wedstrijd voornamelijk gaan gebruiken zijn mensen van de gyms.
      Dit zijn voornamelijk gym owners die de andere gym bellen om te vragen of een vechter kan vechten en als dit kan kunnen zij de wedstrijd opzetten.
    </p>
    <p>
      Dit gaat over de comment entiteit:<br>
      Wanneer er een wedstrijd geplaatst is dan kunnen alle gebruikers die ingelogd zijn hierop commentaar geven. 
      Ze kunnen met elkaar praten over de aankomende wedstrijd of kunnen nadat de wedstrijd klaar is commentaar geven over hoe de wedstrijd verlopen was.
    </p>
    <p>
      Dit gaat over de Fighters entiteit:<br>
      Op de hoofdpagina kun je alle wedstrijden zien.
      Als vechters contact opnemen zodat ze mee kunnen doen aan een competitie dan kan een gebruiker een vechter in het systeem plaatsen. Hier kunnen dan met deze entiteit vechters gemaakt worden.
      twee vechters zitten samen in 1 match. alle vechters, alle aankomende wedstrijden en alle comments kunnen bekeken worden door alle gebruikers.

    </p>
    <p>
      Binnen de applicatie kun je vrienden worden met andere gebruikers. 
      Wanneer je vrienden bent met een andere gebruiker dan kun je zien welke wedstrijden de andere gebruiker als favoriet heeft opgeslagen.
    </p>
      <p>
      Er is ook een pagina binnen de applicatie met wedstrijden die aanbevolen worden door het systeem.
      Dit word aanbevolen op basis van het land waar de wedstrijd gehouden wordt.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="http://winkeyecare.com/wp-content/uploads/2013/03/Empty-Profile-Picture-450x450.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Afrash Ramjit</h5>
        <p class="card-text">
          Studentnummer: 2151957
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h6><b>1. User</b></h6>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>email: string</li>
      <li>password: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h6><b>2. Match</b></h6>
    <ul>
      <li>id: number</li>
      <li>firstFighter: Fighter</li>
      <li>secondFighter: Fighter</li>
      <li>name: string</li>
      <li>location: string</li>
      <li>country: string</li>
      <li>comments: array</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <h6><b>3. Comment</b></h6>
    <ul>
      <li>id: number</li>
      <li>text: string</li>
      <li>title: string</li>
      <li>madeOnDate: Date</li>
      <li>match: match._id</li>
      <li>commentMadeBy: user.name</li>
    </ul>
  </div>
<div class="col-sm-12 col-md-4">
  <h6><b>4. Fighter</b></h6>
  <ul>
    <li>id: number</li>
    <li>name: string</li>
    <li>fightstyle: Enum</li>
    <li>sex: male/female</li>
    <li>ref: userId</li>
    <li>ref: match_id</li>
  </ul>
</div>


<div class="col-12">
<h3>Database structuur</h3>
<img src="https://cdn.discordapp.com/attachments/782938983100973097/783092505687621662/unknown.png" alt="Database structuur">
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
