.profile-pic {
    width: 120px;
    margin: 20px;
  }
  
  .card-body {
    padding-top: 0;
  }
  
  h6 {
    
    color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; line-height: 32px;  
    margin-left: 1.0em
  }