<h1>User list</h1>
<button class="btn btn-primary" [routerLink]="'/register'">Register</button>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <th scope="row">{{ user._id }}</th>
      <td>
        <a id="getUserById" routerLink="{{ user._id }}">{{ user.name }}</a>
      </td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
