<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink='/about'>Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fighters">Fighters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/matches">Matches</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/comments">Comments</a>
          </li> -->
          
        </ul>
       
<!-- checking user -->
 
      </div>

       <!-- checking user -->
       <div  *ngIf="this.authService.currentUser$.value === undefined" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login" >login</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/auth/register" >Register</a>
        </li>
      </div>
        <div *ngIf="this.authService.currentUser$.value !== undefined" class="navbar-nav">
          <div *ngIf="(loggedInUser$ | async) as user" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" >{{user.email}}</a>
          </li>
          <button  type="submit" class="btn btn-primary"  (click)="logout()">Logout</button>
        </div>
        </div>
    </div>
  </nav>