<h2>Update fighter</h2>

<form *ngIf = 'fighter'>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #editMatchName="ngModel" id="editMatchName" name="editMatchName"   [(ngModel)]="fighter.name" [ngModelOptions]="{standalone: true}"  class="form-control"
    [ngClass]="{'is-invalid': (editMatchName.invalid && editMatchName.touched), 'is-valid': (editMatchName.valid && editMatchName.touched)}" required type="text" required>
    <div *ngIf="editMatchName.invalid && editMatchName.touched" class="invalid-feedback"></div>
    <span ng-show="editMatchName.error.required">Please enter a name</span>
  </div>
  <br>
  <div class="form-group">
    <label for="location">Fightstyle:</label>
    <input  #EditmatchLocation="ngModel" id="EditmatchLocation" name="EditmatchLocation" class="form-control" [(ngModel)]="fighter.fightstyle" [ngModelOptions]="{standalone: true}"
    [ngClass]="{'is-invalid': (EditmatchLocation.invalid && EditmatchLocation.touched), 'is-valid': (EditmatchLocation.valid && EditmatchLocation.touched)}" required type="text"/>
    <div *ngIf="EditmatchLocation.invalid && EditmatchLocation.touched" class="invalid-feedback"></div>
    <span ng-show="EditmatchLocation.error.required">Please enter a fightstyle</span>
  </div>
  <div class="form-group">
    <label for="address">Sex:</label>
    <input #EditMatchAddress="ngModel" id="EditMatchAddress" name="EditMatchAddress" class="form-control" [(ngModel)]="fighter.sex" [ngModelOptions]="{standalone: true}" 
    [ngClass]="{'is-invalid': (EditMatchAddress.invalid && EditMatchAddress.touched), 'is-valid': (EditMatchAddress.valid && EditMatchAddress.touched)}" required type="text"/>
    <div *ngIf="EditMatchAddress.invalid && EditMatchAddress.touched" class="invalid-feedback"></div>
    <span ng-show="EditMatchAddress.error.required">Please enter a sex</span>
  </div>
  <br>
  <br>
  <div *ngIf="!editMatchName.invalid && !EditmatchLocation.invalid && !EditMatchAddress.invalid ">
    <button type="submit" class="btn btn-primary"  (click)="updateFighter()">
      Submit
    </button>
  </div>
  <div *ngIf="editMatchName.invalid   || EditmatchLocation.invalid || EditMatchAddress.invalid  ">
    <button type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
 
</form>

