<h2>Update comment</h2>

<form>
  <div class="form-group">
    <label for="name">Text:</label>
    <input #matchName="ngModel" id="matchName" name="matchName"   [(ngModel)]="comment.text" [ngModelOptions]="{standalone: true}"  class="form-control"
    [ngClass]="{'is-invalid': (matchName.invalid && matchName.touched), 'is-valid': (matchName.valid && matchName.touched)}" required type="text" required>
    <div *ngIf="matchName.invalid && matchName.touched" class="invalid-feedback"></div>
    <span ng-show="matchName.error.required">Please enter a text</span>
  </div>
  
  <br>
  <div class="form-group">
    <label for="location">Title:</label>
    <input  #matchLocation="ngModel" id="matchLocation" name="matchLocation" class="form-control" [(ngModel)]="comment.title" [ngModelOptions]="{standalone: true}"
    [ngClass]="{'is-invalid': (matchLocation.invalid && matchLocation.touched), 'is-valid': (matchLocation.valid && matchLocation.touched)}" required type="text"/>
    <div *ngIf="matchLocation.invalid && matchLocation.touched" class="invalid-feedback"></div>
    <span ng-show="matchLocation.error.required">Please enter a title</span>
  </div>
  <br>
  <div *ngIf="!matchName.invalid && !matchLocation.invalid  ">
    <button type="submit" class="btn btn-primary"  (click)="updateComment()">
      Submit
    </button>
  </div>
  <div *ngIf="matchName.invalid || matchLocation.invalid ">
    <button id="submitButton" type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
 
</form>

