<h2>Create Fighter</h2>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #matchName="ngModel" id="matchName" name="matchName"   [(ngModel)]="fighter.name" [ngModelOptions]="{standalone: true}"  class="form-control"
    [ngClass]="{'is-invalid': (matchName.invalid && matchName.touched), 'is-valid': (matchName.valid && matchName.touched)}" required type="text" required>
    <div *ngIf="matchName.invalid && matchName.touched" class="invalid-feedback"></div>
    <span ng-show="matchName.error.required">Please enter a fighter name</span>
  </div>
  
  <br>
  <div class="form-group">
    <label for="location">Fight style:</label>
    <input  #matchLocation="ngModel" id="matchLocation" name="matchLocation" class="form-control" [(ngModel)]="fighter.fightstyle" [ngModelOptions]="{standalone: true}"
    [ngClass]="{'is-invalid': (matchLocation.invalid && matchLocation.touched), 'is-valid': (matchLocation.valid && matchLocation.touched)}" required type="text"/>
    <div *ngIf="matchLocation.invalid && matchLocation.touched" class="invalid-feedback"></div>
    <span ng-show="matchLocation.error.required">Please enter a fightstyle</span>
  </div>
  <div class="form-group">
    <label for="address">Sex:</label>
    <input #matchAddress="ngModel" id="matchAddress" name="matchAddress" class="form-control" [(ngModel)]="fighter.sex" [ngModelOptions]="{standalone: true}" 
    [ngClass]="{'is-invalid': (matchAddress.invalid && matchAddress.touched), 'is-valid': (matchAddress.valid && matchAddress.touched)}" required type="text"/>
    <div *ngIf="matchAddress.invalid && matchAddress.touched" class="invalid-feedback"></div>
    <span ng-show="matchAddress.error.required">Please enter a sex</span>
  </div>
  <br>
  <div *ngIf="!matchName.invalid && !matchLocation.invalid && !matchAddress.invalid ">
    <button type="submit" class="btn btn-primary"  (click)="createFighter()">
      Submit
    </button>
  </div>
  <div *ngIf="matchName.invalid || matchLocation.invalid || matchAddress.invalid ">
    <button id="submitButton" type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
 
</form>

