<h2>Update match</h2>
<div *ngIf="match"></div>
<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #editMatchName="ngModel" id="editMatchName" name="editMatchName"   [(ngModel)]="match.name" [ngModelOptions]="{standalone: true}"  class="form-control"
    [ngClass]="{'is-invalid': (editMatchName.invalid && editMatchName.touched), 'is-valid': (editMatchName.valid && editMatchName.touched)}" required type="text" required>
    <div *ngIf="editMatchName.invalid && editMatchName.touched" class="invalid-feedback"></div>
    <span ng-show="editMatchName.error.required">Please enter a match</span>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Countries</mat-label>
    <mat-select matNativeControl #EditmatchCountry="ngModel" id="EditmatchCountry" name="EditmatchCountry" ngDefaultControl  [(ngModel)]="match.country" [ngModelOptions]="{standalone: true}" required>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country}}
      </mat-option>
      <span ng-show="match.country.error.required" >Please select a country</span>
    </mat-select>
  </mat-form-field>
  <br>
  <div class="form-group">
    <label for="location">Location:</label>
    <input  #EditmatchLocation="ngModel" id="EditmatchLocation" name="EditmatchLocation" class="form-control" [(ngModel)]="match.location" [ngModelOptions]="{standalone: true}"
    [ngClass]="{'is-invalid': (EditmatchLocation.invalid && EditmatchLocation.touched), 'is-valid': (EditmatchLocation.valid && EditmatchLocation.touched)}" required type="text"/>
    <div *ngIf="EditmatchLocation.invalid && EditmatchLocation.touched" class="invalid-feedback"></div>
    <span ng-show="EditmatchLocation.error.required">Please enter a location</span>
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input #EditMatchAddress="ngModel" id="EditMatchAddress" name="EditMatchAddress" class="form-control" [(ngModel)]="match.address" [ngModelOptions]="{standalone: true}" 
    [ngClass]="{'is-invalid': (EditMatchAddress.invalid && EditMatchAddress.touched), 'is-valid': (EditMatchAddress.valid && EditMatchAddress.touched)}" required type="text"/>
    <div *ngIf="EditMatchAddress.invalid && EditMatchAddress.touched" class="invalid-feedback"></div>
    <span ng-show="EditMatchAddress.error.required">Please enter a address</span>
  </div>
  <div class="form-group">
    <label for="dateAndTime">Date and time:</label>
    <input class="form-control"  #EditDateTimeInput="ngModel" type="datetime-local" value="2017-05-23T15:00:00"  id="EditDateTimeInput" name="EditDateTimeInput"  [(ngModel)]="match.dateAndTime" [ngModelOptions]="{standalone: true}" required>
    <span ng-show="EditDateTimeInput.error.required" >Please enter a date and time</span>
  </div>
  

  <div class="form-group">
    <label>First Fighter:</label>
    <select #EditfirstFighter="ngModel" [(ngModel)]="match.firstFighter" name="EditfirstFighter" class="form-control">
      <option *ngFor="let fighter of fighters$ | async" [value]="fighter._id">{{fighter.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Second Fighter:</label>
    <select #EditSecondFighter="ngModel" [(ngModel)]="match.secondFighter" name="EditSecondFighter" class="form-control">
      <option *ngFor="let fighter of fighters$ | async" [value]="fighter._id">{{fighter.name}}</option>
    </select>
  </div>
  <br>
  <br>
  <div *ngIf="!editMatchName.invalid && !EditmatchCountry.invalid && !EditmatchLocation.invalid && !EditMatchAddress.invalid && !EditDateTimeInput.invalid && !EditfirstFighter.invalid && !EditSecondFighter.invalid">
    <button type="submit" class="btn btn-primary"  (click)="updateMatch()">
      Submit
    </button>
  </div>
  <div *ngIf="editMatchName.invalid || EditmatchCountry.invalid  || EditmatchLocation.invalid || EditMatchAddress.invalid || EditDateTimeInput.invalid || EditfirstFighter.invalid || EditSecondFighter.invalid">
    <button type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
 
</form>
<div *ngIf="!match"></div>
