<h1>Fighters list</h1>
<button class="btn btn-primary" [routerLink]="'create'">Create a fighter</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">fightstyle</th>
      <th scope="col">sex</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fighter of fighters$ | async ">
      <th scope="row"></th>
      <td>
        <a routerLink="{{ fighter._id }}">{{ fighter.name }}</a>
      </td>
      <td>{{ fighter.fightstyle }}</td>
      <td>{{ fighter.sex }}</td>
      
    </tr>
  </tbody>
 
</table>
