<h1>Fighter</h1>
<br>
<div>
  <div>
<table class="table">
  <thead>
    <tr>
      <th id="nameTag" scope="col">name</th>
      <th  id="emailTag" scope="col">email</th>
    </tr>
  </thead>
  <tbody>
      <td id="username">{{ user.name }}</td>
      <td>{{ user.email }}</td>
  </tbody>
  <br>
  <br>


  <!-- (click)="tryToEdit()" -->
  <button   (click)="tryToEdit()"  class="btn btn-primary" type="button"  >Change </button>
      
      &nbsp;
      <!-- (click)="tryToDelete()" -->
<button   type="submit" class="btn btn-primary"   routerLink='/matches'>
  delete
</button>

