<h1>Comment</h1>
<br>
<div>
  <div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">text</th>
      <th scope="col">UserName</th>
    </tr>
  </thead>
  <tbody>
    <td>{{ comment.title }}</td>
      <td>{{ comment.text }}</td>
      <td>{{ comment.userName }}</td>
      
  </tbody>
  <br>
  <br>


  <!-- (click)="tryToEdit()" -->
  <button   (click)="tryToEdit()"  class="btn btn-primary" type="button"  >Change </button>
      
      &nbsp;
      <!-- (click)="tryToDelete()" -->
<button (click)="tryToDelete()"  type="submit" class="btn btn-primary"   routerLink='/fighters'>
  delete
</button>

