<h1>Fighter</h1>
<br>
<div>
  <div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Fightstyle</th>
      <th scope="col">Sex</th>
      <th scope="col">Made by</th>
    </tr>
  </thead>
  <tbody>
      <td>{{ fighter.name }}</td>
      <td>{{ fighter.fightstyle }}</td>
      <td>{{ fighter.sex }}</td>
      <td>{{ user.email }}</td>
  </tbody>
  <br>
  <br>


  <!-- (click)="tryToEdit()" -->
  <button id="canEditFighter"  (click)="tryToEdit()"  class="btn btn-primary" type="button"  >Change </button>
      
      &nbsp;
      <!-- (click)="tryToDelete()" -->
<button (click)="tryToDelete()"  type="submit" class="btn btn-primary"   routerLink='/fighters'>
  delete
</button>

