<h1>Match</h1>
<div>
  <div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">location</th>
      <th scope="col">country</th>
      <th scope="col">date and time</th>
       <th scope="col">adress</th>
      <th scope="col">First fighter</th>
      <th scope="col">Second fighter</th>
    </tr>
  </thead>
  <tbody>
      <td>{{ newMatch.name }}</td>
      <td>{{ newMatch.location }}</td>
      <td>{{ newMatch.country }}</td>
      <td>{{ newMatch.dateAndTime }}</td>
      <td>{{ newMatch.address }}</td>
      <td>{{ firstFighter.name}}</td>
      <td>{{ secondFighter.name}}</td>
  </tbody>
  <br>
  <br>

  <p>match aangemaakt door {{newMatch.matchMadeByName}} </p>
  
  <button id="editButtonMatch" (click)="tryToEdit()" class="btn btn-primary" type="button"  >Change </button>
      
      &nbsp;
<button   type="submit" class="btn btn-primary"  (click)="tryToDelete()" routerLink='/matches'>
  delete
</button>
      
</table>
<br>
<h4>Comments</h4>
<button  type="submit" class="btn btn-primary"   (click)='createComment()'>
  Create
</button>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">text</th>
      <th scope="col">user name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of commentslist ">
      <td>
        <a routerLink="/comments/{{ comment?._id }}">{{ comment?.text }}</a>
      </td>
      <td>{{ comment?.userName }}</td>
      
    </tr>
  </tbody>
 
</table>

<!-- <table class="table"  *ngIf="match$ | async as match">
  <thead>
    <tr>
      <th scope="col">text</th>
      <th scope="col">user name</th>
    </tr>
  </thead>
  <tbody>
    
      <tr *ngFor="let comment of commentslist">
        <a routerLink="/comments/{{ comment?._id }}">{{ comment?.text }}</a>
        <td>{{comment?.userName}}</td>
      </tr>
    
  </tbody>
 
</table> -->

</div>

