<h2>Create match</h2>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #matchName="ngModel" id="matchName" name="matchName"   [(ngModel)]="match.name" [ngModelOptions]="{standalone: true}"  class="form-control"
    [ngClass]="{'is-invalid': (matchName.invalid && matchName.touched), 'is-valid': (matchName.valid && matchName.touched)}" required type="text" required>
    <div *ngIf="matchName.invalid && matchName.touched" class="invalid-feedback"></div>
    <span ng-show="matchName.error.required">Please enter a match</span>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Countries</mat-label>
    <mat-select matNativeControl #matchCountry="ngModel" id="matchCountry" name="matchCountry" ngDefaultControl  [(ngModel)]="match.country" [ngModelOptions]="{standalone: true}" required>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country}}
      </mat-option>
      <span ng-show="match.country.error.required" >Please select a country</span>
    </mat-select>
  </mat-form-field>
  <br>
  <div class="form-group">
    <label for="location">Location:</label>
    <input  #matchLocation="ngModel" id="matchLocation" name="matchLocation" class="form-control" [(ngModel)]="match.location" [ngModelOptions]="{standalone: true}"
    [ngClass]="{'is-invalid': (matchLocation.invalid && matchLocation.touched), 'is-valid': (matchLocation.valid && matchLocation.touched)}" required type="text"/>
    <div *ngIf="matchLocation.invalid && matchLocation.touched" class="invalid-feedback"></div>
    <span ng-show="matchLocation.error.required">Please enter a location</span>
  </div>
  <div class="form-group">
    <label for="address">Address:</label>
    <input #matchAddress="ngModel" id="matchAddress" name="matchAddress" class="form-control" [(ngModel)]="match.address" [ngModelOptions]="{standalone: true}" 
    [ngClass]="{'is-invalid': (matchAddress.invalid && matchAddress.touched), 'is-valid': (matchAddress.valid && matchAddress.touched)}" required type="text"/>
    <div *ngIf="matchAddress.invalid && matchAddress.touched" class="invalid-feedback"></div>
    <span ng-show="matchAddress.error.required">Please enter a address</span>
  </div>
  <div class="form-group">
    <label for="dateAndTime">Date and time:</label>
    <input class="form-control"  #dateTimeInput="ngModel" type="datetime-local" value="2017-05-23T15:00:00"  id="dateTimeInput" name="dateTimeInput"  [(ngModel)]="match.dateAndTime" [ngModelOptions]="{standalone: true}" required>
    <span ng-show="dateTimeInput.error.required" >Please enter a date and time</span>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>First fighter</mat-label>
    <mat-select ngDefaultControl #firstFighter="ngModel" id="firstFighter"  [(ngModel)]="selectedFirstFighter" name="firstFighter" [ngModelOptions]="{standalone: true}" required>
      <mat-option *ngFor="let fighter of fighters$ | async" [value]="fighter">
        {{fighter.name}}
      </mat-option>
      <span ng-show="selectedFirstFighter.error.required" >Please enter a first fighter</span>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Second fighter</mat-label>
    <mat-select matNativeControl #SecondFighter="ngModel" id="SecondFighter"   ngDefaultControl [(ngModel)]="selectedSecondFighter" name="SecondFighter"  [ngModelOptions]="{standalone: true}" required>
      <mat-option *ngFor="let fighter of fighters$ | async" [value]="fighter">
        {{fighter.name}}
      </mat-option>
      <span ng-show="selectedSecondFighter.error.required" >Please enter a second fighter</span>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <div *ngIf="!matchName.invalid && !matchCountry.invalid && !matchLocation.invalid && !matchAddress.invalid && !dateTimeInput.invalid && !firstFighter.invalid && !SecondFighter.invalid">
    <button type="submit" class="btn btn-primary"  (click)="createMatch()">
      Submit
    </button>
  </div>
  <div *ngIf="matchName.invalid || matchCountry.invalid  || matchLocation.invalid || matchAddress.invalid || dateTimeInput.invalid || SecondFighter.invalid">
    <button id="submitButton" type="submit" class="btn btn-primary" disabled>
      Submit
    </button>
  </div>
 
</form>

